---
import { Heading } from "@/components/Heading"
import DocumentLayout from "@/layouts/DocumentLayout.astro"
import { Main } from "."
---

<DocumentLayout
  description="TODO"
  title="Logarithmic Dice"
  og={{
    imageSrc: "TODO",
    imageAlt: "TODO",
    title: "Logarithmic Dice",
  }}
>
  <div class="m-auto flex w-[30rem] max-w-full flex-col">
    <Heading center>Logarithmic Dice</Heading>

    <Main client:load count={10} />
  </div>
</DocumentLayout>
