---
import PaddedLayout from "@/layouts/PaddedLayout.astro"
import { NeedsJavascript } from "@/learn/el/NeedsJavascript"
import { Main } from "../../learn"
---

<PaddedLayout
  maxWidth="max-w-5xl"
  description="TODO"
  title="TODO"
  og={{
    imageSrc: "TODO",
    imageAlt: "TODO",
    title: "TODO",
  }}
  sublink={{ title: "Learn", href: "/learn" }}
>
  <div
    class="mx-auto flex w-[64rem] max-w-full flex-1 flex-col text-z transition"
  >
    <NeedsJavascript />
    <Main client:only />
  </div>
</PaddedLayout>
