---
import PaddedLayout from "@/layouts/PaddedLayout.astro"
import { Tasks as Main } from "@/learn/layers/Tasks"
---

<PaddedLayout
  maxWidth="max-w-xl"
  description="TODO"
  title="TODO"
  og={{
    imageSrc: "TODO",
    imageAlt: "TODO",
    title: "TODO",
  }}
  sublink={{ title: "Learn", href: "/learn" }}
>
  <div
    class="mx-auto flex w-[36rem] max-w-full flex-1 flex-col text-z transition"
  >
    <Main />
  </div>
</PaddedLayout>
