---
import DocumentLayout from "@/layouts/DocumentLayout.astro"
import { Main } from "."
---

<DocumentLayout
  title="TODO"
  description="TODO"
  og={{
    imageSrc: "TODO",
    imageAlt: "TODO",
    title: "TODO",
  }}
>
  <p id="wile-js">(o ken e ilo JavaScript 🥺)</p>
  <Main client:only />
</DocumentLayout>
