---
import ProseLayout from "@/layouts/ProseLayout.astro"
import type { GetStaticPathsItem } from "astro"
import { CollectionEntry, getCollection } from "astro:content"

export interface Props {
  entry: CollectionEntry<"blog">
}

export async function getStaticPaths() {
  const blog = await getCollection("blog")

  return blog.map<GetStaticPathsItem>((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content, headings } = await entry.render()

const openGraphImage = (
  await import(
    `../../../assets/blog/${
      entry.id.endsWith(".mdx") ? entry.id.slice(0, -4) : entry.id.slice(0, -3)
    }.jpg`
  )
).default
---

<ProseLayout
  description={entry.data.description}
  headings={headings}
  title={`${entry.data.title} | zSnout Blog`}
  og={{
    title: entry.data.title,
    image: openGraphImage,
    imageAlt: entry.data.imageAlt,
    article: {
      authors: [entry.data.author],
      publishedTime: entry.data.published,
      tags: [entry.data.category],
      modifiedTime: entry.data.updated,
    },
  }}
>
  <h1>{entry.data.title}</h1>

  <Content />
</ProseLayout>
