---
import { Fa } from "@/components/Fa"
import ProseLayout from "@/layouts/ProseLayout.astro"
import { faMapSigns } from "@fortawesome/free-solid-svg-icons"
import type { GetStaticPathsItem } from "astro"
import { type CollectionEntry, getCollection } from "astro:content"

export interface Props {
  entry: CollectionEntry<"ithkuil">
}

export async function getStaticPaths() {
  const blog = await getCollection("ithkuil")

  return blog.map<GetStaticPathsItem>((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props as Props
const { Content } = await entry.render()
const num = entry.id.slice(0, 2)
---

<ProseLayout
  description="TODO"
  title={`${entry.data.title} | Learn Ithkuil`}
  og={{
    title: entry.data.title,
    imageAlt: "TODO",
    imageSrc: "TODO",
  }}
>
  <h1>
    {
      entry.id[2] == "@" ?
        <span class="inline-flex w-[2ch] align-[-3px] font-mono font-normal text-z">
          <Fa icon={faMapSigns} class="m-auto size-[1em]" title="Interlude" />
        </span>
      : <strong class="font-mono font-normal text-z">{num}</strong>
    }
    {" — "}
    {
      entry.data.title.split(/\bCA\b/g).flatMap((x, i) =>
        i == 0 ? x : (
          [
            <span>
              C<sub>A</sub>
            </span>,
            x,
          ]
        ),
      )
    }
  </h1>
  <Content />
</ProseLayout>
