---
import DocumentLayout from "@/layouts/DocumentLayout.astro"
import { Main } from "."
---

<DocumentLayout
  description="TODO"
  title="Launchpad"
  og={{
    imageSrc: "TODO",
    imageAlt: "TODO",
    title: "Launchpad",
  }}
>
  <h1 class="mb-4 text-center text-xl font-light">zSnout Launchpad</h1>

  <div
    class="grid grid-cols-[repeat(auto-fill,minmax(min(20rem,100%),1fr))] gap-6"
  >
    <Main client:load />
  </div>
</DocumentLayout>
