---
import PaddedLayout from "@/layouts/PaddedLayout.astro"
import { Main } from "./_home/Index"
import openGraphImage from "./_home/open-graph.jpg"
---

<PaddedLayout
  maxWidth="max-w-6xl"
  description="A website with many unrelated yet fun projects."
  title="zSnout"
  og={{
    imageSrc: openGraphImage,
    imageAlt: "A combination of thumbnails for various pages on zSnout.",
    title: "zSnout",
  }}
>
  <div
    class="mx-auto flex w-[72rem] max-w-full flex-1 flex-col py-2 text-z transition md:py-6"
  >
    <Main client:load />
  </div>
</PaddedLayout>
