---
import DocumentLayout from "@/layouts/DocumentLayout.astro"
import { Main } from "."
import openGraph from "./open-graph.png"
---

<DocumentLayout
  title="Ithkuil Utility Kit"
  description="Combines Ithkuil glossing, word construction, script generation, and root and affix searching functionality into a single user-friendly page."
  og={{
    imageAlt:
      'At the top, the input box with several word glosses and the words malëuţřaitie and šio. Below, the first three words with glosses and handwritten Ithkuil script. To the right, a list of alternatives to S0-čv for the word "tool".',
    imageSrc: openGraph,
    title: "Ithkuil Utility Kit",
  }}
>
  <p class="q8s7 m-auto w-96 max-w-full">
    Loading Ithkuil Utility Kit. Please wait a moment.
  </p>

  <Main client:only />
</DocumentLayout>
