---
import DocumentLayout from "@/layouts/DocumentLayout.astro"
import { Main } from "."
// import openGraph from "./open-graph.png"
---

<DocumentLayout
  title="Ithkuil Utility Kit"
  description="Combines glossing, unglossing, and root and affix searching functionality into a single user-friendly page."
  og={{
    imageAlt: "TODO",
    imageSrc: "TODO",
    title: "Ithkuil Utility Kit",
  }}
>
  <p class="q8s7 m-auto w-96 max-w-full">
    Loading Ithkuil Utility Kit. Please wait a moment.
  </p>

  <Main client:only />
</DocumentLayout>
