---
import FullscreenLayout from "@/layouts/FullscreenLayout.astro"
import { Main } from "."
// import openGraphImage from "./_home/open-graph.jpg"
---

<FullscreenLayout
  description="TODO"
  title="TODO"
  og={{
    imageSrc: "TODO",
    imageAlt: "TODO",
    title: "TODO",
  }}
>
  <div class="flex h-full w-full">
    <Main client:only />
  </div>
</FullscreenLayout>
