---
import PaddedLayout, {
  type Props as PaddedLayoutProps,
} from "./PaddedLayout.astro"

export interface Props extends Omit<PaddedLayoutProps, "maxWidth"> {}
---

<PaddedLayout maxWidth="max-w-5xl" {...Astro.props}>
  <div
    class="mx-auto flex w-[64rem] max-w-full flex-1 flex-col text-z transition"
  >
    <slot />
  </div>
</PaddedLayout>
