---
import type { Props as LayoutProps } from "./Layout.astro"
import PaddedLayout from "./PaddedLayout.astro"

export interface Props extends LayoutProps {}
---

<PaddedLayout maxWidth="max-w-5xl" {...Astro.props}>
  <div
    class="mx-auto flex w-[64rem] max-w-full flex-1 flex-col text-z transition"
  >
    <slot />
  </div>
</PaddedLayout>
