---
import PaddedLayout from "./PaddedLayout.astro"

interface Props {
  children: any
  title: string
}
---

<PaddedLayout maxWidth="max-w-[64rem]" title={Astro.props.title}>
  <div
    class="mx-auto flex w-[64rem] max-w-full flex-1 flex-col text-z transition"
  >
    <slot />
  </div>
</PaddedLayout>
