@tailwind base;
@tailwind components;
@tailwind utilities;

html,
.light {
  @apply z-light-slate z-light-focus-blue;
}

.dark {
  @apply z-dark-slate z-dark-focus-blue;
}

.arc {
  @apply z-arc;
}

html.no-transition,
html.no-transition * {
  transition-duration: 0s !important;
}

@keyframes fade-in {
  from {
    @apply opacity-0;
  }

  to {
    @apply opacity-100;
  }
}
