---
import { Options } from "./Options"
import { ThemeSwitcher } from "./ThemeSwitcher"

interface Props {
  floating: boolean
  maxWidth: `max-w-${string}`
  options?: any
  theme?: "light" | "dark"
}
---

{/* This blocks content the address bar in Safari. */}
<div
  class="pointer-events-none fixed -top-20 left-0 z-10 h-20 w-full bg-z-body print:hidden"
>
</div>

{/* This is _intentionally_ not a <nav /> element. */}
{/* That is used in prose and other documents with internal nav links. */}
<div
  class={"pointer-events-none fixed top-0 z-10 flex h-12 w-full touch-none select-none justify-center items-center border-b px-6 py-1.5 transition print:hidden " +
    (Astro.props.floating
      ? "border-b-transparent"
      : "backdrop-blur-sm bg-z-body-partial border-b-z")}
>
  <div class={`flex h-full w-full flex-1 items-center ${Astro.props.maxWidth}`}>
    <a
      class={"pointer-events-auto mr-auto font-extralight text-2xl underline decoration-transparent decoration-1 underline-offset-2 transition hover:decoration-current text-z-heading z-20 relative border border-transparent focus-visible:border-z-focus ring-z-focus focus-visible:ring focus-visible:outline-none rounded-lg left-[calc(-0.5rem_-_1px)] px-2 py-0.5 " +
        (Astro.props.floating ? "backdrop-blur-sm bg-z-body-partial" : "")}
      href="/"
    >
      zSnout
    </a>

    {
      Astro.slots.options ? (
        <Options client:load>
          <slot name="options" />
        </Options>
      ) : (
        <div id="nav-options" class="contents" />
      )
    }

    <ThemeSwitcher client:idle theme={Astro.props.theme} />
  </div>
</div>
